---
import MemeStudio from '../components/MemeStudio/MemeStudio'
import '../styles/global.css';
---

<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <title>Meme With Bunnies</title>
  </head>
  <body>
    <h1>Meme With Bunnies</h1>
    <main>
      <MemeStudio client:only='react' />
    </main>
  </body>
</html>

<style lang='scss'>
 h1 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
 }
 main {
  height: 100vh;
 }
</style>
