---
import Editor from '../components/Editor/Editor'
import '../styles/global.css';
---

<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Meme With Bunnies</title>
  </head>
  <body>
    <h1>Meme With Bunnies</h1>
    <main>
      <section>
        <Editor client:only='react' />
      </section>
    </main>
  </body>
</html>
