---
import Editor from './components/Editor';
---

<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Meme With NJZ</title>
  </head>
  <body>
    <h1>Meme With NJZ</h1>
    <Editor client:only='' />
  </body>
</html>
