---
import MemeStudio from '../components/MemeStudio/MemeStudio'
import '../styles/global.css';
---

<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <title>Meme With Bunnies</title>
  </head>
  <body class='bg-gray-50 flex flex-col items-center'>
    <h1 class='text-gray-800 text-2xl mt-6 mb-8'>Meme With Bunnies</h1>
    <main class='h-svh px-2'>
      <MemeStudio client:only='react' />
    </main>
  </body>
</html>
